<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Galactic Explorations{% endblock %}</title>
    <link rel="icon" href="{{ asset('build/images/space-icon.svg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header class="site-header">
            <h1 class="text-light">Galactic Explorations</h1>
        </header>

        <nav class="navbar navbar-expand navbar-dark bg-space">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">Home</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link btn btn-space m-1" href="{{ path('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-space m-1" href="{{ path('space_facts') }}">Space Facts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-space m-1" href="{{ path('report') }}">Report</a>
                    </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-space m-1" href="{{ path('api_index') }}">API</a>
                </li>
                <li class="nav-item">
                <a class="nav-link btn btn-space" href="{{ path('pig_start') }}">Dice Game</a>
                  </li>

                </ul>
            </div>
        </nav>

        <main class="main-content">
            {% block body %}

            {% endblock %}
        </main>

        <footer class="text-light text-center p-3 bg-dark">
            <p>&copy; {{ "now"|date("Y") }} Galactic Explorations. Journey to the stars!</p>
        </footer>
    </div>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
